<html>
	<head>
		<title>
			Auto Mpg Predictor
		</title>
	</head>
	<body>
		<h1>Auto Mpg Predictor</h1>
		<form  action = "/auto_mpg_predict" >
		<table>
		<tr>
		<td><label for = "label_cylin"> cylinders </label></td>
		<td><input type = "text" id = "text_cylin" name = "cylin"></td>
		</tr>
		<tr>
		<td><label for = "label_disp"> displacement </label></td>
		<td><input type = "text" id = "text_disp" name = "disp"></td>
		</tr>
		<tr>
		<td><label for = "label_hp"> horsepower </label></td>
		<td><input type = "text" id = "text_hp" name = "hp"></td>
		</tr>
		<tr>
		<td><label for = "label_wt"> weight </label></td>
		<td><input type = "text" id = "text_wt" name = "wt"></td>
		</tr>
		<tr>
		<td><label for = "label_accer"> acceleration </label></td>
		<td><input type = "text" id = "text_accer" name = "accer"></td>
		</tr>
		<tr>
		<td><label for = "label_mod_year"> model year </label></td>
		<td><input type = "text" id = "text_mod_year" name = "mod_year"></td>
		</tr>
		<tr>
		<td><label for = "label_org"> origin </label></td>
		<td><input type = "text" id = "text_org" name = "org"></td>
		</tr>
		</table>
		</table>
		
		<P>
		<input type="submit" value="Submit">
		</P>
		</form>
	</body>
</html>

